/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    max-width: 1000px;
    /* background: white; */
    padding: 30px;
    border-radius: 12px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    gap: 40px;
    backdrop-filter: blur(2px) saturate(107%);
    -webkit-backdrop-filter: blur(2px) saturate(107%);
    background-color: rgba(255, 255, 255, 0.41);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.glass {
    backdrop-filter: blur(2px) saturate(107%);
    -webkit-backdrop-filter: blur(2px) saturate(107%);
    background-color: rgba(255, 255, 255, 0.41);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }

/* Left Section */
.left {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left h1 {
    color: #ff6a00;
    font-size: 28px;
    font-weight: bold;
}

.left p {
    font-size: 16px;
    color: #666;
}

/* Right Section */
.right {
    flex: 1;
    background: #fff;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.right h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: 500;
    color: #333;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

button {
    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    /* height: 40px; */
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    /* width: 100%; */
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
  }
  
  button:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
  }